<p id="notice"><%= notice %></p>

<h1>Listing Masters</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>J</th>
      <th>E</th>
      <th>Category</th>
      <th>Memo</th>
      <th>Coment</th>
      <th>Fn</th>
      <th>Dt</th>
      <th>Public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @masters.each do |master| %>
      <tr>
        <td><%= master.user_id %></td>
        <td><%= master.j %></td>
        <td><%= master.e %></td>
        <td><%= master.category_id %></td>
        <td><%= master.memo %></td>
        <td><%= master.coment %></td>
        <td><%= master.fn %></td>
        <td><%= master.dt %></td>
        <td><%= master.public %></td>
        <td><%= link_to 'Show', master %></td>
        <td><%= link_to 'Edit', edit_master_path(master) %></td>
        <td><%= link_to 'Destroy', master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master', new_master_path %>
