<div class="container">
<div class="jumbotron text-center"> 
<h1><%= @title %></h1>
<div class="audio_flame">
    
    <div>
    
      <span onclick="ren()"><i class="fa fa-play-circle fa-4x"></i>連続再生</span >
     <span onclick="rand()"><i class="fa fa-random fa-4x" ></i>ランダム再生</span>
       <span  onclick="pause_resume()"><i class="fa fa-pause-circle fa-4x" ></i><a id="atxt">一時停止</a></span>
      <span  onclick="cancelAudio()"><i class="fa fa-stop-circle fa-4x" ></i>停止</span>
    </div> 


<!--ボリューム (スピードスライダ)ー-->
<div id="vss">  

  <div><span>volume</span><input type="range"  id="volume" min="0" max="100" class="custom" ><span id="value" class="vs" >50</span></div>
  </div><br>
 <a id="play_this"></a>
 </div>


<div class="main">
<ul class="hoge">
    
     <% @tcmasters.each_with_index do |mstr, i|  %>
      
       <li><a href="javascript:tan_tan(<%= mstr.id %>, <%= i %>)" class="je" ><%= mstr.j %><br> <%= mstr.e %></a><br><br>
       <a class="tempsp"><%= mstr.e %></a><a class="tempi"><%= mstr.id %></a></li>
       
     <% end %> 
    
</ul>
</div>
</div>
</div>

<script>

//$("a").click(function(){
 // alert("aタグ .click() のイベントだよぉ〜！");
//});
var uttr = new SpeechSynthesisUtterance();

function tan_tan(i,key) {
    
      $("#play_this").html($(".hoge li").eq(key).find("a").html())
  
    var audioElem;
	   
    var mpjfn="/jsf/" + i + ".mp3";
	       
	         
	         
	           audioElem = new Audio();
	           audioElem.src = mpjfn;
	           audioElem.play();

 audioElem.addEventListener("ended", function() {
           
             var val =$('li').eq(key).find(".tempsp").text();
	      	 console.log(val);
			  
			   
			       uttr.text =val;
			     
			       uttr.lang = 'en-US';
			       speechSynthesis.speak(uttr);
	
			       
});

}
    
 //連続再生
function ren() {
    
     renflag = true;　//連続再生ボタンが押された
     
   
    var size;　//ページ内のセンテンスの数　li
     
     $(function() {
        
   　　　 size = $('.hoge li').length;
    　　
       });  
  
     console.log(size);
 
     var audio_array = [];
    　　for (var i=0; i<size; i++) {
      　　audio_array[i]= i;
    　}
    　
    　var i = 0;
    　
    　var val =$('li').eq(i).find(".tempi").text();
     
        tan_tan(val, audio_array[i]);  //eq()の一番目を再生。
        
        uttr.onend = function (event) {
	           console.log("end1!");
        
         if (i < audio_array.length-1) {
        　     
        　     　  i++;
        　     var val =$('li').eq(i).find(".tempi").text();　  
        　     tan_tan(val, audio_array[i]);　//eq()の次を一回再生
        　     
        　    
         } 
         
        }
  
}
          
</script>