<p id="notice"><%= notice %></p>

<h1>Listing Tccategories</h1>

<table>
  <thead>
    <tr>
      <th>Ctg</th>
      <th>Bunrui</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tccategories.each do |tccategory| %>
      <tr>
        <td><%= tccategory.ctg %></td>
        <td><%= tccategory.bunrui_id %></td>
        <td><%= link_to 'Show', tccategory %></td>
        <td><%= link_to 'Edit', edit_tccategory_path(tccategory) %></td>
        <td><%= link_to 'Destroy', tccategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tccategory', new_tccategory_path %>
