<p id="notice"><%= notice %></p>

<h1>Listing S Categories</h1>

<table>
  <thead>
    <tr>
      <th>S ctg</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @s_categories.each do |s_category| %>
      <tr>
        <td><%= s_category.s_ctg %></td>
        <td><%= s_category.category_id %></td>
        <td><%= link_to 'Show', s_category %></td>
        <td><%= link_to 'Edit', edit_s_category_path(s_category) %></td>
        <td><%= link_to 'Destroy', s_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New S category', new_s_category_path %>
