<p id="notice"><%= notice %></p>

<p>
  <strong>S ctg:</strong>
  <%= @s_category.s_ctg %>
</p>

<p>
  <strong>Category:</strong>
  <%= @s_category.category_id %>
</p>

<%= link_to 'Edit', edit_s_category_path(@s_category) %> |
<%= link_to 'Back', s_categories_path %>
