<p id="notice"><%= notice %></p>

<p>
  <strong>Dt:</strong>
  <%= @count.dt %>
</p>

<p>
  <strong>User:</strong>
  <%= @count.user_id %>
</p>

<p>
  <strong>Chrcnt:</strong>
  <%= @count.chrcnt %>
</p>

<p>
  <strong>Kubun:</strong>
  <%= @count.kubun %>
</p>

<%= link_to 'Edit', edit_count_path(@count) %> |
<%= link_to 'Back', counts_path %>
