<!DOCTYPE html>
<html>
<head>
  <title>login</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <nav class="navbar  navbar-default1">
 <div class="container-fluid">
     
     	<ul class="nav navbar-nav">
			  
				<li><a id="logincap">自動翻訳システムログイン画面</a></li>
				
		</ul>
 </div>
</nav>
    
    <!--アラート表示-->
 　	<% flash.each do |type, msg| %>
	   <% type = :success if type == "notice" %>
	   <% type = :danger if type == "alert" %>
       <div class="alert alert-<%= type %>"><%= msg %><i class="fa fa-times"></i></div>
    <% end %>
  
    <div class="container">
      <%= yield %>
    </div>
    
</body>
</html>
