<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>login</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<div class="continer-fluid text-center">
 <div class="mt-1 row">
  <div class="col-lg col-md col-sm col-xs">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  
			<span class="navbar-brand">即時通訳 ログイン画面</span>

</nav>
</div>
</div>
</div>
</header>
    
    <!--アラート表示-->
 　	<% flash.each do |type, msg| %>
	   <% type = :success if type == "notice" %>
	   <% type = :danger if type == "alert" %>
       <div class="alert alert-<%= type %>"><%= msg %><i class="fa fa-times"></i></div>
    <% end %>
  
    <div class="container-fluid">
      <%= yield %>
    </div>
    
</body>


</html>
